*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6dbf6;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: #f6dbf6;
    width: 500px;
}

section h2{
    color:#292949;
    font-size: 2.5rem;
    margin: 2rem;
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color:#292949;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor:pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid white;
    color: #292949;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover{
    background: #292949;
    color: white;
    border-radius: 16px;
}